.card {
    border: none;
    padding: 5px;
    font-size: 18px;
    background-color: #ffffff;
    color: #050708;
    box-shadow: 0 0 5px #00000050;
    border-radius: 15px;
    font-family: 'Merriweather', serif;
    text-shadow: 0 2px 2px #f7a01c;
    border: inset 2px #f7a01c;
}

.card img {
    width: 160px;
}

.card:hover {
    cursor: pointer;
}
