.card {
    max-height: 300px;
    padding: 5px;
    font-size: 17px;
    background-color: #ffffff;
    color: #050708;
    box-shadow: 0 0 5px #00000050;
    border-radius: 15px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-shadow: 0 2px 2px #f7a01c;
    border: solid 3px #f7a01c;
    transition: 300ms ease-in-out box-shadow, 300ms ease-in-out color;
}

.card img {
    width: 132px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 8px #000000;
    color: #1a58a5;
    text-shadow: 0 1px 1px #f7a01c;
}

.click-card {
    animation: click-card 1s ease-out;
}

@keyframes click-card {
    from {
        box-shadow: inset 0 0 0;
        transform: scale(1);
    }

    50% {
        box-shadow: inset 0 0 30px;
        transform: scale(0.98);
    }

    to {
        box-shadow: inset 0 0 0;
        transform: scale(1);
    }
}

@media (min-width: 800px) {
    .card img {
        width: 180px;
    }
}

@media (max-height: 750px) {
    .card {
        font-size: 14px;
    }
    .card img {
        width: 80px;
    }
}
