#cards-board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 95vw;
    height: 95%;
}

@media (min-width: 1200px) {
    #cards-board {
        width: 80vw;
    }
}

@media (min-width: 800px) {
    #cards-board {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* @media (max-width: 400px) {
    #cards-board {
        width: 100vw;
    }
} */
