.card {
    padding: 5px;
    font-size: 17px;
    background-color: #ffffff;
    color: #050708;
    box-shadow: 0 0 5px #00000050;
    border-radius: 15px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-shadow: 0 2px 2px #f7a01c;
    border: solid 3px #f7a01c;
    transition: 300ms ease-in-out box-shadow, 300ms ease-in-out color;
}

.card img {
    width: 132px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 8px #000000;
    color: #1a58a5;
    text-shadow: 0 1px 1px #f7a01c;
}
