#score-board {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    width: 100vw;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

@media (max-height: 700px) and (max-width: 450px) {
    #score-board {
        font-size: 14px;
    }
}
