#status {
    padding: 10px;
    font-size: 16px;
}

.red {
    color: #ff8383;
}

.green {
    color: #94f96c;
}

@media (max-height: 700px) and (max-width: 450px) {
    #status {
        font-size: 12px;
    }
}
